.navbar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 26px;
    height: 100vh;
    width: 250px;
    border-right: 1px solid rgba(255,255,255, .4);
    position: static;
}

.logo{
    margin-bottom: 50px;
}

.menu{
    display: flex;
    flex-direction: column;
    gap: 40px;

}

.navbar a{
    display: flex;
    align-items: center;
    gap: 16px;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.navbar a.active img{
    border-bottom: 3px solid #EE25AB;
}

.navbar-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
